# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserdatad
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

# CocoaPods
Pods/
Podfile.lock
